<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <th:block th:replace="../static/fragments.html :: head"></th:block>
  <title>Add Post</title>
</head>

<body>
  <div class ="post-form">
    <th:block th:replace="../static/fragments.html :: header"></th:block>
    <form action="/addPost" method="post">
      <textarea name="postBody" id="postBody" cols="30" rows="10" placeholder="What's on your mind?"></textarea>
      <input type="submit" value="POST" class="btn">
    </form>
  </div>
</body>

</html>