<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <th:block th:replace="../static/fragments.html :: head"></th:block>

  <title>Profile</title>
  <style>
  </style>
</head>

<body>
  <th:block th:replace="../static/fragments.html :: header"></th:block>
  <div class="user-profile-card">

    <img src="/img/profile_picture.png" class="pro-img">
    <h2>Username: <span th:text=${user.username}></span></h2>
    <h3>Name:<span th:text=${user.firstName}></span> <span th:text=${user.lastName}></span> </h3>
    <h4>Born in: <span th:text=${user.dateOfBirth}></span></h4>
    <p th:text=${user.bio}></p>
    <form th:action="'/follow/' + ${user.username}" method="get" th:if="${!loggedUser.getFollowers().contains(user)}">
      <input type="submit" value="Follow" class="btn">
    </form>

    <form th:action="'/unfollow/' + ${user.username}" method="get" th:if="${loggedUser.getFollowers().contains(user)}">
      <input type="submit" value="Unfollow" class="btn" style="margin-left: 0;">
    </form>

    <div class="posts-container">

      <div class="user-post-card" th:each="post : ${user.posts}">
        <p th:text="${post.body}"></p>
        <p th:text="${post.createdAt}"></p>
      </div>


    </div>


  </div>

</body>

</html>