<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <th:block th:replace="../static/fragments.html :: head"></th:block>
  <title>Sign up</title>
  <style>
    body{
      display: flex;
      justify-content: center;
    }
  </style>
</head>

<body>
<div id="signup-form" class="signup-form">
  <form action="/signup" method="post">
    <label class = "label" for="username"> Username</label>
    <input  class="input"  type="text" name="username" id="username" placeholder="Enter a username">

    <label class = "label" for="password"> Password</label>
    <input class="input" type="password" name="password" id="password" placeholder="Enter a password">

    <label class = "label" for="confirm-password">Confirm Password</label>
    <input class="input" type="password" name="confirmPassword" id="confirm-password" placeholder="Re-enter the password">

    <label class = "label" for="firstName"> First Name</label>
    <input class="input" type="text" name="firstName" id="firstName" placeholder="Enter first name">

    <label class = "label" for="lastName"> Last Name</label>
    <input class="input" type="text" name="lastName" id="lastName" placeholder="Enter last name">

    <textarea name="bio" id="bio" cols="50" rows="8" placeholder="Bio..."></textarea>

    <label class = "label" for="dob"> Date of Birth</label>
    <input class="input" type="date" name="dob" id="dob">
    <input type="submit" value="Sign up" id="submit" class="btn">


  </form>
  <p>Have an account already? <a href="/login">login</a></p>
</div>
</body>

</html>