<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <th:block th:replace="../static/fragments.html :: head"></th:block>

    <title>Code Fellow Ship</title>
</head>
<body>
  <div class="home">

    <button class="btn"><a href="/addPost">Start</a></button>
  </div>

</body>
</html>