<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Info</title>
</head>
<body>
    <h1 th:if="${loggedUser != null}"> Hello, <span th:text=${loggedUser.firstName}></span> <span th:text=${loggedUser.lastName}></span></h1>
    <div>
        <img src="/img/profile_picture.png">
        <h2>Username: <span th:text = ${user.username}></span></h2>
        <h3>Name:<span th:text = ${user.firstName}></span> <span th:text = ${user.lastName}></span> </h3>
        <h4>Born in: <span th:text = ${user.dateOfBirth}></span></h4>
        <p th:text=${user.bio}></p>
    
    </div>

</body>
</html>